<div class="px-2 my-2">
  <a type="button" class="btn btn-primary btn-lg px-4 gap-3" href=<%= new_tourbasis_path %>>Добавить</a>
</div>

<% @tours.each do |tour| %>
  <div class="row align-items-md-stretch">
    <div class="col-md-6">
      <div class="h-100 p-5 bg-light border rounded-3">
        <h2><%= tour.tourbase_name %></h2>
        <div class="fs-5 text-muted">
          <h2><%= tour.city.region.region_name %> , <%= tour.city.city_name %></h2>
        </div>

        <a type="button" class="btn btn-outline-secondary" href=<%= edit_tourbasis_path(tour) %>>Изменить</a>
        <%= link_to 'Удалить', tourbasis_path(tour), class: "btn btn-outline-secondary", data: {method: :delete} %>
      </div>
    </div>
  </div>
  </div>
<% end %>


